<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find tutorial_veh_description)/urdf/tutorial_veh.urdf"/>
  <arg name="rvizconfig" default="$(find tutorial_veh_description)/rviz/demo.rviz" />

  <param name="robot_description" textfile="$(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 0 -z 0 -model tutorial_veh"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>